.root {
    -fx-background-color: #1a1a1a;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial";
}

.button {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 8;
}

.button:hover {
    -fx-background-color: #555555;
    -fx-cursor: hand;
}

