/*
 * Empty Stylesheet file.
 */

.root {
    -fx-background-color: #f0f0f0;
}

.button {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #2c3e50;
}

.text-area {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
}

.label {
    -fx-text-fill: #2c3e50;
}
