/*
 * Empty Stylesheet file.
 */

.fondoPrincipal {
    -fx-background-color: #34495e;
}

.texto {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 15, 0, 0, 0);
    -fx-padding: 40;
}

.titulo {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #d35400;
}

.subtitulo {
    -fx-font-size: 14px;
    -fx-text-fill: #2c3e50;
}

.boton {
    -fx-background-color: #e67e22;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 12 25;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.boton:hover {
    -fx-background-color: #d35400;
}

.nota {
    -fx-text-fill: #95a5a6;
    -fx-font-size: 10px;
}
